In [1]:
import pandas as pd
dados = pd.read_csv('dados.csv')

In [10]:
classes = [dados.Altura.min(), 1.65, 1.75, dados.Altura.max()]
labels = ['Baixa', 'Média', 'Alta']

frequencia = pd.value_counts(pd.cut(x=dados.Altura, bins=classes, labels=labels, include_lowest=True))
percentual = pd.value_counts(pd.cut(x=dados.Altura, bins=classes, labels=labels, include_lowest=True), normalize=True) * 100

dist_altura = pd.DataFrame({'Frequência': frequencia, 'Percentual (%)': percentual})

In [11]:
dist_altura.rename_axis('Estaturas', axis=1, inplace=True)
dist_altura.sort_index(ascending=True, inplace=True)

In [12]:
dist_altura

Estaturas  Frequência  Percentual (%)
Baixa           20529       26.716554
Média           36162       47.061426
Alta            20149       26.222020